ul {
  display: flex;
  width: 700px;
  flex-wrap: wrap;
  margin: 0 auto;
}

li {
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  list-style-type: none;
  border: 4px solid black;
}

.un-marked {
  background-color: grey;
}

.un-marked:hover {
  background-color: yellow;
}

.mark {
  background-color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 175px;
  font-family: sans-serif;
  color: black;
  font-size: 200px;

}
